.form-class {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: all 1s;
}

.form-class:hover{
  box-shadow: 30px 30px 8px #888888;
}

h2{
  color:lightgreen
}

.button{
  color: black;
  height: 50px;
  width: 100%;
  
  background-color: lightgreen;
  transition: all 1s;
}

.button:hover{
  background-color: green;
}
